@import "../../styles/mixins"

.project
    display: flex
    flex-direction: column
    justify-content: center
    // @include container
    margin-top: 90px
    width: 100%
    align-items: center
    align-content: center

    &__title
        @include font(14px , #B4C634 , light)
        text-align: center
        font-family: Roboto !important

        @media (max-width:769px)
            @include font(12px , #B4C634 , light)

    &__subTitle
        @include font(55px , #16213E , kanit-semibold)
        text-align: center
        font-family: Roboto !important
        padding-top: 10px

        @media (max-width:769px)
            @include font(40px , #16213E , kanit-semibold)

    &__cards
        display: flex
        justify-content: center
        flex-wrap: wrap
        gap: 20px
        width: 80%
        margin-top: 40px
        @media (max-width:769px)
            flex-direction: column
            width: 100%
            justify-content: center
            align-content: center
            align-items: center
            gap: 10px

    &__card
        width: 100%
        height: 320px
        max-width: 380px
        background-repeat: no-repeat
        background-size: cover
        cursor: pointer
        overflow: hidden
        @media (max-width:769px)
            height: 250px !important
            max-width: 95% !important
            border-radius: 10px

        &:hover
            transition: 0.7s ease

        &:hover &__info
            display: flex !important
            transition: 0.4s ease

        &__info
            display: flex
            flex-direction: column
            text-align: center
            align-content: center
            align-items: center
            justify-content: center
            gap: 10px
            width: 100%
            height: 320px
            display: none
            &:hover
                backdrop-filter: blur(10px)
                transition: 0.4s ease

    &__type
        @include font(14px , black , light)

        @media (max-width:769px)
            @include font(13px , black , light)

    &__name
        @include font(18px , #FFFFFF , regular)
        font-family: Roboto !important

        @media (max-width:769px)
            @include font(16px , #FFFFFF , regular)