@import "../../styles/mixins"

.btn
    width: 100%
    max-width: 240px
    height: 64px
    background: #B4C634
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    gap: 10px
    margin-top: 70px
    border: none
    cursor: pointer
    @include font(14px , #FFFFFF , semi-bold)
    

    @media (max-width:769px)
        max-width: 200px
        height: 55px
