@import "../../styles/mixins"

.btn
    width: 100%
    max-width: 240px
    height: 64px
    background: #B4C634
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    gap: 10px
    @include font(14px , #FFFFFF , semi-bold)
