@import "../../styles/mixins"

.client
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 120px
    width: 100%
    overflow-x: hidden
    overflow-y: hidden

    &__title
        @include font(14px , #B4C634 , light)
        text-align: center
        font-family: Roboto !important

    &__subTitle
        @include font(55px , #16213E , light)
        text-align: center
        font-family: Roboto !important
        padding-top: 10px

    &__videos
        display: flex
        justify-content: center
        flex-direction: column
        align-content: center
        align-items: center
        width: 100% !important

    &__video
        width: 100% !important
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        // background-image: url("/assets/img/uzumPage.png")
        background-size: cover
        background-repeat: no-repeat
        // position: relative
        // top: 100px

        @media (max-width:769px)
            width: 95%
            height: 350px

    &__videoPlay
        position: relative
        top: 100px
        border-radius: 10px

    &__videoTitle
        @include font(24px , black , light)

    &__image
        width: 100% !important
        height: 300px !important
        object-fit: cover !important
        object-position: center !important
        image-orientation: flip !important
        cursor: pointer !important

    &__play
        width: 80px
        height: 80px
        border-radius: 100%
        border: none
        cursor: pointer
        background-color: black
        position: relative
        top: -150px
        &:hover
            background: green
            transition: 0.3s ease

        @media (max-width:769px)
            top: -70px

        &:hover &__triangle
            border-left: 30px solid red
            transition: 0.3 ease

        &__triangle
            width: 0
            height: 0
            position: absolute
            border-top: 18px solid transparent
            border-bottom: 18px solid transparent
            border-left: 25px solid #FFF
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            cursor: pointer
            transition: transform 0.3s ease-in-out

            @media (max-width:769px)
                border-left: 18px solid #FFF
                border-bottom: 12px solid transparent
                border-top: 12px solid transparent
