@import "../../styles/mixins"

.contact
    @include container
    display: flex
    width: 100%
    justify-content: space-between
    @media (max-width:769px)
        justify-content: center
        align-content: center
        align-items: center
        flex-direction: column
        gap: 15px

    @media (min-width:100px) and (max-width:1200px)
        width: 100% !important
        max-width: 1000px !important
        justify-content: space-around !important
        padding: 0
        padding-top: 20px

    &__numbers
        display: flex
        gap: 16px
        @include font(17px , #41444B, light)

    &__socials
        display: flex
        gap: 40px
        color: #495251
        cursor: pointer

    &__adress
        @include font(18px ,#41444B, light )

    &__icon
        font-size: 20px

        &:hover
            transform: scale(1.2) !important
            transition: 0.6s ease !important
