@import "../../styles/mixins"

.header
    width: 100%
    height: 1134px
    background-image: url('/assets/img/background.png')
    background-size: cover
    background-repeat: no-repeat
    backdrop-filter: blur(10px)
    max-width: 1920px
    @media (max-width:769px)
        padding: 0px 5px
        // height: auto

    &__info
        padding-top: 267px
        padding-left: 370px
        @media (max-width:769px)
            padding-left: 0
            padding-top: 100px

    &__btn
        @media (max-width:769px)
            display: flex
            justify-content: center

    &__text
        @include font(80px , #FFFFFF , kanit-semibold )
        font-family: Roboto !important
        width: 100%
        max-width: 786px
        @media (max-width:769px)
            @include font(50px , #FFFFFF ,kanit-semibold )
            text-align: center

    &__cards
        display: flex
        justify-content: center
        width: 100%
        margin-top: 210px
        @media (max-width:769px)
            margin-top: 80px
            flex-direction: column
            gap: 30px
            justify-content: center
            align-content: center
            align-items: center
            padding-bottom: 50px

    &__card
        width: 100%
        max-width: 290px
        height: 235px
        background: #495251
        padding-left: 40px
        padding-top: 40px

        @media (max-width:769px)
            display: flex
            justify-content: center
            align-content: center
            align-items: center
            flex-direction: column
            max-width: 92%
            border-radius: 10px
            text-align: center
            padding: 0

    &__cardTwo
        width: 100%
        max-width: 290px
        height: 235px
        background: #B4C634
        padding-left: 40px
        padding-top: 40px

        @media (max-width:769px)
            display: flex
            justify-content: center
            align-content: center
            align-items: center
            flex-direction: column
            max-width: 92%
            border-radius: 10px
            text-align: center
            padding: 0

    &__title
        @include font(100px , #FFFFFF , light)

        @media (max-width:769px)
            @include font(95px , #FFFFFF , light)

    &__subTitle
        @include font(22px, #FFFFFF , light)

        @media (max-width:769px)
            @include font(24px , #FFFFFF , light)

    &__directions
        width: 100%
        max-width: 501px
        height: 549px
        background: #FFFFFF
        margin-top: -200px
        filter: drop-shadow(0px 2px 4px #00215b54)
        padding-left: 61px

        @media (max-width:769px)
            max-width: 92%
            margin-top: 70px
            padding-left: 0
            height: 410px
            justify-content: center
            align-content: center
            align-items: center

    &__companyText
        @include font(30px , #495251 , kanit-semibold)
        padding-top: 20px
        font-family: Roboto !important
        @media (max-width:769px)
            @include font(23px , #495251 , kanit-semibold)
            text-align: center

    &__content
        display: flex
        flex-direction: column
        gap: 45px
        width: 100%
        margin-top: 45px

        @media (max-width:769px)
            gap: 25px
            justify-content: center
            align-items: center
            align-content: center

    &__media
        display: flex
        gap: 20px
        width: 100%
        @media (max-width:769px)
            margin-left: 30px
            // justify-content: center
            // align-items: center
            // align-content: center

    &__subInfo
        padding-top: 18px
        @include font(19px , #41444B , black)
        @media (max-width:769px)
            @include font(17px , #41444B , light)
