@import "../../styles/mixins"

.nav
    @include container
    display: flex
    width: 100%
    justify-content: space-between
    flex-wrap: wrap

    @media (max-width: 769px)
        text-align: center
        margin-bottom: 150px

    @media (min-width:100px) and (max-width:1200px)
        padding: 0
        padding-top: 50px
        padding-bottom: 20px
        justify-content: space-around

    &__hr
        width: 100%
        position: relative
        top: -10px

    &__logo
        margin-top: 25px

    &__burger
        flex-direction: column
        cursor: pointer
        display: none
        transition: 1s ease
        margin-top: 15px
        @media (max-width:769px)
            display: flex

        &Line
            width: 30px
            height: 3px
            background-color: #495251
            margin: 5px 0

    &__li
        &:hover
            // transform: scale(1.1)
            // transition: 0.3s ease

    &__link
        position: relative
        display: block
        text-decoration: none
        transition: .5s
        z-index: 1
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            border-top: 2px solid #262626
            border-bottom: 2px solid #262626
            transform: scaleY(2)
            opacity: 0
            transition: .3s

        &:after
            content: ''
            position: absolute
            top: 2px
            left: 0
            width: 100%
            height: 100%
            background-color: #262626
            transform: scale(0)
            opacity: 0
            transition: .3s
            z-index: -1
            text-align: center

        &:hover
            color: #fff
            &:before
                transform: scaleY(1)
                opacity: 1

            &:after
                transform: scaleY(1)
                opacity: 1

    &__menu
        display: flex
        list-style: none
        gap: 40px
        margin-top: 20px
        cursor: pointer
        @include font(22px, #495251, regular)

        @media (max-width: 769px)
            display: none

    &Open
        &__menu
            display: flex
            flex-direction: column
            height: auto
            transition: height 2s ease
            position: absolute
            top: 120px
            left: 0
            right: 0
            background-color: #B4C634
            z-index: 1
            gap: 20px
            padding: 10px
            transition: 1s ease
            color: #FFFFFFFF
            padding-bottom: 30px

    &__btn
        display: flex
        justify-content: flex-end

    &__menuCloseBtn
        display: none
        @media (max-width:769px)
            display: flex
            width: 100%
            max-width: 30px
            text-align: center
            justify-content: center
            color: white
            border: none
            background: #B4C634
            padding: 5px
            border-radius: 2px
            margin-right: 20px
            @include font(24px , white, light)
